/* imports */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

#standard {
  font-family: Arial;
}

body {
  background-image: url("achtergrond.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.focus {
  text-align: center;
  font-family: 'Merriweather Sans';
}

.title {
  color: #1F1A30;
  margin-top: 125px;
}
